<app-header></app-header>
<main class="Main">
  <div class="Main__Table">
    <div class="Main__Search">
      <mat-form-field appearance="standard">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input
          type="search"
          matInput
          placeholder="Search"
          (change)="filterData($event)"
        />
      </mat-form-field>
    </div>
    <table
      mat-table
      matSort
      [dataSource]="booksArr"
      class="mat-elevation-z8"
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-image [uri]="element.image"></app-image>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          <a
            (click)="openBook(element)"
            rel="noreferrer"
            class="Main__Table_ItemName"
            >{{ element.name }}</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</main>
<footer></footer>
